body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #BFE6FF;
}

.parent {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: end;
    align-self: center;
}

.div2 {
    grid-area: 1 / 2 / 4 / 3;
    place-self: center;
}

#img1 {

    border: 5px white solid;
   /* margin-left: 15%;*/
}

#img2 {
    width: 380px;
    height: 650px;
    background: orange;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
}

.div5 {
    grid-area: 3 / 3 / 4 / 4;
}

.div6 {
    grid-area: 3 / 1 / 4 / 2;
}

.div7 {
    grid-area: 2 / 1 / 3 / 2;
}

/* body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.parent {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: end;
    align-self: center;
}

#img1 {
    width: 150px;
    height: auto;
    background: orange;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
}

#img2 {
    width: 300px;
    height: 550px;
    background: orange;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
}

.div7 {
    grid-area: 3 / 1 / 4 / 2;
}

.div8 {
    grid-area: 3 / 2 / 4 / 3;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
} */